{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {# Inclure le fichier CSS #}
</head>
<body>
    {% include 'includes/navbar.html.twig' %}


</body>
</html>
