/* public/css/produits.css */

body {
    font-family: 'Roboto', sans-serif; /* Utilisez la police Roboto pour tout le texte */
    background-color: #f9f9f9;
    color: #000000;
    padding: 0px;
    margin: 0px;
    scrollbar-width: thin; /* Réduit la largeur de la barre de défilement */
    scrollbar-color: black black; /* Couleur de la barre de défilement */
}
body::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
    height: 8px; /* Hauteur de la barre de défilement */
}

body::-webkit-scrollbar-thumb {
    background-color: black; /* Couleur du bouton de la barre de défilement */
    border-radius: 4px; /* Arrondit les coins du bouton */
}
h1{
    text-align: center;
    color: #6d6969;
    font-size: 24px;
    margin-top: 30px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.produit {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin: 35px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s ease;
    border: none;
    margin-bottom: 100px;
}

.produit:hover {
    transform: scale(1.007);
    background-color: #ececec;
}


.produit img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    height: 300px;
    transition: transform 0.3s ease;
}
.produit img:hover {
    transform: scale(1.001); 

}
.produit-info {
    padding: 10px;
}

.produit-nom {
    font-size: 20px;
    margin-bottom: 10px;
}

.produit-description {
    margin-bottom: 10px;
}

.produit-prix {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
}

/* public/css/produits.css */
.produit-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.produit-detail img {
    min-width: 500px;
    max-width: 500px;
    margin-right: 20px;
}

.produit-info {
    text-align: left;
}

/* public/css/produits.css */

/* Style pour la figurine mise en avant */
.featured-product {
    text-align: center;
    padding: 50px 0;
}

.featured-product h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.produit-mise-en-avant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produit-mise-en-avant a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.produit-mise-en-avant img {
    width: 60%; /* Ajustez la largeur de l'image mise en avant */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.produit-mise-en-avant img:hover {
    transform: scale(1.05);
}

.produit-info {
    text-align: center;
    padding: 10px;
}

.produit-nom {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.produit-description {
    font-size: 16px;
    line-height: 1.4;
    color: #666;
    margin-bottom: 10px;
}

.produit-prix {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

/* public/css/produits.css */

/* Style pour le bouton "Ajouter au panier" */
.ajouter-panier {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff; /* Couleur de fond bleue */
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

/* Style pour le survol du bouton "Ajouter au panier" */
.ajouter-panier:hover {
    background-color: #0056b3; /* Couleur de fond plus foncée au survol */
    border-color: #0056b3; /* Bordure plus foncée au survol */
}

.edit-button{
    color: red;
    margin-left: 50px;
}

.edit-button:hover{
    color: darkred;
}