/* Styles pour la barre latérale (sidebar) */

.sidebar {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Permet de faire défiler la barre latérale si nécessaire */
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Styles pour la liste de produits */

.produits-list {
    float: left;
    width: 80%;
    padding-left: 20px; /* Ajoute un espace à gauche pour compenser la largeur de la barre latérale */
    box-sizing: border-box;
}

.produit {
    display: block;
    margin-bottom: 20px;
}

.produit img {
    max-width: 100%;
    height: auto;
}

.produit-info {
    margin-top: 10px;
}

.produit-nom {
    font-weight: bold;
}

.produit-description {
    font-size: 14px;
    margin-top: 5px;
}

.produit-prix {
    font-size: 16px;
    color: #ff4500; /* Couleur orange pour le prix */
}
