<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
            {% include 'includes/navbar.html.twig' %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
                    {% include 'produit/produit_list.html.twig' %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            {% include 'produit/footer.html.twig' %}       
        {% endblock %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
