<form class="form-inline" action="{{ path('produits_search') }}" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" name="productName" placeholder="Rechercher par nom de produit" aria-label="Rechercher">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i> <!-- Icône de loupe -->
            </button>
        </div>
    </div>
</form>
